streamlit_option_menu
grad-cam
imageio
numpy
keras
opencv-python-headless
pandas
streamlit-aggrid
plotly
tensorflow == 2.2.0
matplotlib
imutils
scikit-image
streamlit
scikit-learn
Keras-Preprocessing
